*{
    margin: 0;
    padding: 0;
    /* hello this is a comment in css */
    font-family: 'Encode Sans', sans-serif;
    font-size: 10px;
}
a{
    text-decoration: none;
    color: #031D5B;
    font-weight: 700;
    font-size: 1.6rem;
}

header {
    text-align: center;
}

#nav-container {
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

main {
    text-align: center;
}

#iphone {
    width: 80vw;
}

#search-field {
    width: 70vw;
    height: 48px;
    border: 1px solid; color: #F8765E;
    border-radius: 5px;
    font-weight: 700;
}

input[type="search"] {
    padding: 14px;
    font-size: 1.6rem;
}

::placeholder {
    color: #B6BBC9;
}

#magnifier {
    margin-left: -35px;
}

#searching {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

h1{
    font-size: 2.5rem;
}

@media screen and (min-width: 480px) {
    #iphone {
        width: 60vw;
    }
    
}